.chat-container {
  margin: auto;
	height: 500px;
  border: 1px solid var(--grey);
  padding: 10px;
  border-radius: 5px;
	opacity: 0.3;
  background: var(--yellow);
	
}

.chat-box {
  height: 300px;
  border-bottom: 1px solid var(--grey);
}

.chat-message {
  color: var(--black);
  margin-bottom: 5px;
}

.chat-input {
  display: flex;
  gap: 5px;
}

.chat-input input {
  padding: 5px;
}

.chat-input button {
  padding: 5px 10px;
  background: var(--black);
	cursor: pointer;
}

