<div class="chat-container">
				<div class="chat-box">
								<div class="chat-message">
												@for (message of messages; track message.text) {
												<strong>{{ message.user}}: </strong>  
												<p>{{ message.text }}</p>
												} @empty {
												<p>No messages yet</p>
												}	
								</div>
				</div>

				<div class="chat-input">
								<textarea type="text" [(ngModel)]="messageText" placeholder="Type a message to chat with me..." (keyup.enter)="sendMessage()" >
												{{ messageText }}
								</textarea>
												<button (click)="sendMessage()">Send</button>
				</div>
</div>

