* {
				text-decoration: none;
				color: inherit;
}

@font-face {
				font-family: "Share Tech Mono";
				src: url("https://n-o-d-e.live/fonts/font.eot");
				src:
				local("â˜º"),
				url("https://n-o-d-e.live/fonts/font.woff") format("woff"),
				url("https://n-o-d-e.live/fonts/font.ttf") format("truetype"),
				url("https://n-o-d-e.live/fonts/font.svg") format("svg");
}
:root {
				font-family: Share Tech Mono;
				--grey: #222725;
				--black: #121113;
				--white: #F7F7F7;
				--red: #BC4B51;
				--blue: #22577A;
				--yellow: #F4A259;
				--green: #79b473;

				margin: 0 auto;
				padding: 0;
				background-color: var(--white);
        padding: 100;

}

body {
				margin: 0 auto;
				max-width: 800px;
				z-index: 1;
        padding: 100px;
}

h1,
h2,
h3,
p,
ul {
				padding: 5px;
				font-family: Share Tech Mono;
				color: var(--black);
				line-height: 1em;
				font-size: 1em;
}
